
.main{
    margin-left: 380px;
    display: flex;
    flex-direction: column;
}
.second-main {
    position: absolute;
    top: 21.8%;
    left: 15%;
}

.second-main img {
    width: 500px !important;
}

.main img {
    width: 435px !important;
    height: 460px !important;
    padding: 50px;
}

.main-first {
    position: relative;
    top: 30%;
}

.main-first h3 {
    display: block;
    background-color: #b538a4;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}
.main-first p{
    font-family: "New","Century","Schoolhook";
    line-height: 25px;
    font-size: 20px;
}
.main-first button{
    width: 180px !important;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}
.main-first button:hover{
    background-color: #b538a4 !important;
    transition: all 0.4s ease;
}