@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
header .ant-menu-root .ant-menu-item-selected {
    color: #fdd400 !important;
  }
  .ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;
    color: #fff;
}
 header .ant-menu-root:hover{
  color: #fff;
}
img{
    width: 100px;
}
h1{
  font-weight: 500px;
}