.main-contact{
display: flex;
justify-content: center;
align-items: center;
text-align: center;                                             
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
}
.contact-form{
    padding:120px;
    padding-top:30px;
    padding-bottom: 60px;
}
.contact-form input{
    width: 200%;
    height: 50px !important;
    border: 1px solid black;
}
.send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
}
.send-button button{
    width: 200px;
    height: 40px;
}
.main-contact-us{
    margin-bottom: 50px;
    margin-top: 50px;
}
 